<po-container
class="po-xl-5 po-lg-5 po-md-4 po-sm-1 po-text-left po-ml-5 po-mr-5"
p-height="auto"
>
    <div class="po-row">
        <po-info class="po-md-12" p-label="Disciplina" [p-value]="cartao.disciplina"></po-info>
        <po-info class="po-md-12" p-label="Professor" [p-value]="cartao.professor"></po-info>
        <po-info class="po-md-12" p-label="Data de Finalização" [p-value]="cartao.dataFinalizacao"></po-info>
        <po-info class="po-md-12" p-label="Tarefa" [p-value]="cartao.tarefa"></po-info>
    </div>

    <div class="po-row">
    
        <po-button
        class="po-xl-4 po-lg-4 po-md-4 po-sm-4"
        p-label="Editar Cartão"
        p-type="primary"
        >
        </po-button>
    
        <po-button
        class="po-xl-4 po-lg-4 po-md-4 po-sm-4"
        p-label="Finalizar Cartão"
        p-type="primary"
        >
        </po-button>
    
        <po-button
        class="po-xl-4 po-lg-4 po-md-4 po-sm-4"
        p-label="Remover Cartão"
        p-type="primary"
        >
        </po-button>
    
    </div>
</po-container>
