<div class="po-row">
    
    <po-button
    class="po-xl-3 po-lg-3 po-md-4 po-sm-4"
    p-label="Cartões em Atraso"
    p-type="primary"
    (p-click)="botaoAtrasadosOnClick()"
    >
    </po-button>
    
    <po-button
    class="po-xl-3 po-lg-3 po-md-4 po-sm-4"
    p-label="Cartões em Andamento"
    p-type="primary"
    (p-click)="botaoAndamentoOnClick()"
    >
    </po-button>

    <po-button
    class="po-xl-3 po-lg-3 po-md-4 po-sm-4"
    p-label="Cartões Concluídos"
    p-type="primary"
    (p-click)="botaoConcluidoOnClick()"
    >
    </po-button>

</div>